    * {
        margin: 0;
        padding: 0;
    }
    
    html,
    body {
        height: 100%;
        background: lightsteelblue;
    }
    
    .body__wrapper {
        /*ta klasa ustawia znacznik na minimum calą wysokosc strony lub więcej ale zostawia 50px na stopke*/
        min-height: calc(100% - 50px);
        width: 100%;
    }
    
    .body__wrapper_index {
        background: url(photo/site-under-construction.jpg) center;
        background-size: cover;
    }
    
    .menu {
        margin: 0 0 15px 0;
        position: fixed;
        min-height: 25px;
        width: 100vw;
        /*   background-color: aquamarine; */
        box-sizing: border-box;
        padding: 10px;
    }
    
    .a-header {
        padding: 5px;
        background-color: yellowgreen;
        margin: 5px;
        display: inline-block;
        width: 170px;
    }
    
    .index_article__section--information {
        color: red;
        font-size: 2.5em;
        font-weight: bold;
        margin: auto;
        background-color: black;
    }
    
    .index_article__section--content1 {
        display: flex;
    }
    
    .main__header {
        text-align: center;
    }
    
    .main__article--head {
        color: green;
        text-align: center;
    }
    
    .article__section--topic {
        color: red;
        background-color: azure;
        margin: 30px 10px 0px 10px;
    }
    
    .article__section--title {
        font-weight: bold;
        margin: 0 10px;
    }
    
    .article__section--paragraph {
        padding: 3px;
        border: 2px double green;
        margin: 3px 10px;
        border-radius: 10px;
    }
    
    .article__section--paragraph-index {
        padding: 3px;
        margin: 3px 10px;
    }
    
    .article__section--float {
        overflow: hidden;
    }
    
    .pictureGeometriFigure {
        width: 100%;
        max-width: 200px;
        display: block;
        float: left;
        margin: 0 10px 10px 10px;
    }
    
    .main__article--clear {
        clear: both;
    }
    
    .footer {
        height: 50px;
        text-align: center;
        background: black;
        color: white;
    }
    
    .inFooter {
        padding: 15px 0 0 0;
    }
    
    .color {
        background: red;
    }